@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap');
:root{
  --left-bg-color:rgba(87,84,236,0.7)
  --right-bg-color:rgba(43,43,43,0.8)
}
*{
  box-sizing: border-box;
}
body{
  font-family: 'Newsreader',sans-serif;
  height: 100vh;
  overflow: hidden;
  margin:0;
  margin-left: 0%;
  margin-right: 0%;
}

.container{
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
}

.split{
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.split.left{
  left:0;
  background: url('DSLR.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.split.left::before{
  content: '';
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}
.split.right{
  right:0;
  background: url('Keyboard.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.right::after{
  content: '';
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}